<tr data-job-id="@Job.ID" class="job-row-@Job.StatusCode">
    <td>
        <div>
            @Worker.WorkerName
        </div>
        @if (ParentWorker is not null)
        {
            <div>
                (Child of @ParentWorker.WorkerName)
            </div>
        }
    </td>
    <td title="Inserted @Job.InsertDateUTC.FormatDate() @Job.InsertDateUTC.FormatTime()">
        <div>@Job.QueueDateUTC.FormatDate()</div>
        <div>@Job.QueueDateUTC.FormatTime()</div>
    </td>
    <td>
        @if (Loading)
        {
            <LoadingAnimation />
        }
        else
        {
            <div>
                @Job.StatusCode
                @if (Job.StatusCode == "SUC")
                {
                    @: (@Job.FriendlyDuration)
                }
            </div>
            @if (Job.StatusCode == "NEW")
            {
                <div>
                    <button class="btn btn-xs btn-outline-primary" @onclick="CancelJob">Cancel</button>
                </div>
            }
            else if (Job.StatusCode == "ERR")
            {
                <div>
                    <button class="btn btn-xs btn-outline-primary" @onclick="AcknowledgeError">Acknowledge</button>
                </div>
            }
            else if (Job.StatusCode == "SUC")
            {
                <div>
                    @Job.CompleteDateUTC.FormatTime()
                </div>
            }

            @if (Job.HasDetailedMessage)
            {
                <div>
                    <button class="btn btn-xs btn-outline-primary" @onclick="ViewDetailedMessage">View Results</button>
                </div>

            }
        }
    </td>
</tr>
