@using SimpleSchedulerApiModels

<div class="worker-box">
    @if (Worker is not null)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@Worker.Worker.WorkerName</h5>
            </div>
            <div class="card-body worker-card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="card-subtitle mb-2 text-muted">@Worker.Worker.DetailedDescription</h6>
                        <div><strong>@Worker.Worker.DirectoryName/</strong>@Worker.Worker.Executable</div>
                        <div><em>@Worker.Worker.ArgumentValues</em></div>
                        <div style="font-size: smaller;">Timeout: @Worker.Worker.TimeoutMinutes minutes</div>
                        @if (Worker.Worker.ParentWorkerID.HasValue)
                        {
                            <div style="font-size: smaller;"><em>Child of @ParentWorkerName</em></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Worker.Worker.EmailOnSuccess))
                        {
                            <div style="font-size: smaller;"><strong>Email on Success: @Worker.Worker.EmailOnSuccess</strong></div>
                        }
                    </li>
                    @if (Worker.Worker.IsActive)
                    {
                        <WorkerSchedules Worker="Worker" WorkerDisplayComponent="this" AllWorkers="AllWorkers" />
                    }
                </ul>
            </div>
            <div class="card-footer d-flex justify-content-around">
                @if (Worker.Worker.IsActive)
                {
                    <button class="btn btn-warning btn-sm" @onclick="EditWorker">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </button>
                }
                @if (Worker.Worker.IsActive)
                {
                    if (AllWorkers.Any(w => w.ParentWorkerID == Worker.Worker.ID))
                    {
                        <button class="btn btn-outline-secondary btn-sm" title="This worker has children. Unable to delete.">
                            <i class="bi bi-trash"></i>
                            Delete
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm" @onclick="DeleteWorker">
                            <i class="bi bi-trash"></i>
                            Delete
                        </button>
                    }
                }
                else
                {
                    <button class="btn btn-primary btn-sm" @onclick="ReactivateWorker">
                        <i class="bi bi-box-arrow-up-left"></i>
                        Reactivate
                    </button>
                }
                @if (Worker.Worker.IsActive)
                {
                    <button class="btn btn-success btn-sm" @onclick="RunWorker">
                        <i class="bi bi-play"></i>
                        Run
                    </button>
                }
                <button class="btn btn-outline-success" @onclick="GoToJobs">
                    <i class="bi bi-person-workspace"></i>
                    Jobs
                </button>
            </div>
        </div>
    }
</div>
